body{
    text-align: center;
}

.button{
    height: 200px;
    width: 200px;
    border:10px solid black;
    border-radius: 20%;
    margin: 2.5rem;
}
.container{
    display: flex;
    justify-content: center;
}
.red{
    background-color:#d95980 ;
}
.yellow{
    background-color: #f99b45;
}
.green{
    background-color: #63aac0;
}
.purple{
    background-color: #819ff9;
}
.flash{
    background-color: white;
}
button{
    border-radius: 20%;
    line-height: 30px;
    background-color: rgba(245, 245, 220, 0.214);

}
